@model IEnumerable<Ecommerce_Laptops.Models.OrderModel>

@{
    ViewData["Title"] = "Index";
    List<OrderDetailsModel> orderDetails = ViewData["detailsOfOrder"] as List<OrderDetailsModel>;
}

<h1>Index</h1>

<table class="table table-hover" style="border: 1px solid black">
    <thead class="bg-warning" style="text-align:center;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order_ID)
            </th>
            <th>
                Laptop Name
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in orderDetails) {
        <tr style="text-align:center;">
            <td>
                @item.Order_id
            </td>
            <td>
                @item.Product_name
            </td>
            <td>
                @item.UserEmail
            </td>
            <td>
                @item.UserAddress
            </td>
        </tr>
}
    </tbody>
</table>